{% extends 'base.html.twig' %}

{% block title %}Groupe index{% endblock %}

{% block body %}
    <h1>Groupe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdGroupe</th>
                <th>NbrEtudiant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.id }}</td>
                <td>{{ groupe.idGroupe }}</td>
                <td>{{ groupe.nbrEtudiant }}</td>
                <td>
                    <a href="{{ path('groupe_show', {'id': groupe.id}) }}">Afficher</a>
                    <a href="{{ path('groupe_edit', {'id': groupe.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('groupe_new') }}">Créer un nouveau</a>
{% endblock %}
