{% extends 'base.html.twig' %}

{% block title %}Seance index{% endblock %}

{% block body %}
    <h1>Seance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td>{{ seance.id }}</td>
                <td>{{ seance.DateDebut ? seance.DateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ seance.DateFin ? seance.DateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ seance.Type }}</td>
                <td>
                    <a href="{{ path('seance_show', {'id': seance.id}) }}">Afficher</a>
                    <a href="{{ path('seance_edit', {'id': seance.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('seance_new') }}">Créer un nouveau</a>
{% endblock %}
