{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1>Seance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>DateDebut</th>
                <td>{{ seance.DateDebut ? seance.DateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFin</th>
                <td>{{ seance.DateFin ? seance.DateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ seance.Type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('seance_index') }}">Retour à la liste</a>

    <a href="{{ path('seance_edit', {'id': seance.id}) }}">Modifier</a>

    {{ include('seance/_delete_form.html.twig') }}
{% endblock %}
