{% extends 'base.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
    <h1>Enseignant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomEnseignant</th>
                <th>PrenomEnseignant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.id }}</td>
                <td>{{ enseignant.nomEnseignant }}</td>
                <td>{{ enseignant.prenomEnseignant }}</td>
                <td>
                    <a href="{{ path('enseignant_show', {'id': enseignant.id}) }}">Afficher</a>
                    <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('enseignant_new') }}">Créer un nouveau</a>
{% endblock %}
