{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}
    <h1>Salle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdSalle</th>
                <th>CodeSalle</th>
                <th>CapaciteSalle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td>{{ salle.id }}</td>
                <td>{{ salle.idSalle }}</td>
                <td>{{ salle.codeSalle }}</td>
                <td>{{ salle.capaciteSalle }}</td>
                <td>
                    <a href="{{ path('salle_show', {'id': salle.id}) }}">Afficher</a>
                    <a href="{{ path('salle_edit', {'id': salle.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Liste vide</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('salle_new') }}">Créer un nouveau</a>
{% endblock %}
